<div *ngIf='!toggle' class="friend ">
  <span>{{user.first_name}}</span>
  <button class="add-btn" *ngIf='!user.isFriend;' (click)='add()'>Add Friend</button>
  <button class="remove-btn" *ngIf='user.isFriend;' (click)='remove()'>Remove Friend</button>
</div>

<div *ngIf='toggle' class="friend ">
  <span>{{user.first_name}}</span>
  <button class="add-btn" *ngIf='!user.isFriend;' (click)='add()'>Add Friend</button>
  <button class="remove-btn" *ngIf='user.isFriend;'  (click)='remove()'>Remove Friend</button>
</div>