.friends-title {
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
}

.search-form {
  .input-label {
    display: block;
    margin-top: 10px;
  }

  .input-search {
    width: 1000px;
    padding: 8px 5px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
  }

  .search-btn {
    width: 75px;
    height: 32px;
    margin-left: 5px;
    background: #6C69FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.25);
    }
  }



}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px 0 0 60px;
  overflow: auto;

  .friends_header {
    font-weight: 400;
    margin-top: 10px;
  }

  .no_friends {
    font-weight: 400;

  }
}
