h3 {
  text-align: center;
}

[mat-button] {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
}

.nav{
  display: flex;
  align-items: center;
  background-color: #fff;
  min-height: 56px;
  
  *{
    margin-left: 20px;
  }
}
